.about .about-title, .about2 .about-title, .files-container .files-title, .contact .contact-title, .offers-container .offers-title, .projects h1, .numbers h1 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 400;
}

.links, .home-main, .about, .about2, .quote-container, aside, .files-container, .contact, .offers-container, .projects, .numbers, footer {
  width: 75vw;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.mobile-menu {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(51, 51, 51, 0.92);
  z-index: 2000;
  left: 0;
  top: -100vh;
  opacity: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.mobile-menu ul {
  list-style-type: none;
  color: #d4d4d4;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 0;
  margin-top: 20%;
}

.mobile-menu ul li {
  border: 1px solid rgba(255, 255, 255, 0.54);
  width: 80%;
  height: 8vh;
  line-height: 8vh;
  border-radius: 35px;
  margin: auto auto 3vh auto;
}

.mobile-menu ul a {
  text-decoration: none;
  color: #d4d4d4;
}

.mobile-animation {
  -webkit-animation-name: mobile-drop;
  animation-name: mobile-drop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes mobile-drop {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}

@keyframes mobile-drop {
  from {
    top: -100vh;
  }
  to {
    top: 0;
  }
}

.mobile-animation-up {
  -webkit-animation-name: mobile-up;
  animation-name: mobile-up;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes mobile-up {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}

@keyframes mobile-up {
  from {
    top: 0;
  }
  to {
    top: -100vh;
  }
}

.scroll-to-close {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.scroll-to-close .menu-down {
    font-size: 2rem;
    margin-top: 15px;
    position: relative;
    top: 0;
    left: 0;
    animation-name: updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes updown {
    0% {
        top: 0;
    } 50% {
        top: -10px;
    } 100% {
        top: 0;
    }
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-right: 5vw;
  height: 4vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hamburger {
  display: none;
}

.links .logo {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.links img {
  display: block;
  width: 200px;
  height: 53px;
}

#menu-menu-1 {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55%;
  padding-left: 0;
  color: #676767;
  font-weight: 700;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

li.menu-item.menu-item-type-post_type.menu-item-object-page,
li.menu-item.menu-item-type-custom.menu-item-object-custom, 
li.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home {
  padding: 10px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

li.menu-item.menu-item-type-post_type.menu-item-object-page:hover,
li.menu-item.menu-item-type-custom.menu-item-object-custom:hover,
li.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home:hover {
  background-color: #ecb840;
  color: #fff;
}
li.menu-item.menu-item-type-post_type.menu-item-object-page:hover a, 
li.menu-item.menu-item-type-custom.menu-item-object-custom:hover a, li.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home:hover a{
  text-decoration: none;
  color: #fff;
}

.links #menu-menu-1 a {
  text-decoration: none;
  color: #676767;
}

.links #menu-menu-1 a:hover {
  text-decoration: none;
  color: #fff;
}

#menu-menu-1 li:hover a {
    color: #fff;
}

.triangle {
  background-image: url(../img/1_06.jpg);
  background-size: 100vw;
  background-position: 0 20px;
  background-repeat: no-repeat;
}

.home-main .slide-container {
  width: 100%;
  height: 26vw;
  background: url("../img/s1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-main .slide-container .slide {
  color: #efefef;
}

.home-main .services {
  width: 100%;
  height: 10vw;
  background: #58585a;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-main .services .services-img {
  width: 20%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-right: 1px solid grey;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.home-main .services .services-img img {
  width: 35%;
  height: auto;
  display: block;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.home-main .services .services-img p {
  margin-top: 0;
  color: #f1f1f1;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  -webkit-transition: letter-spacing 0.5s;
  -o-transition: letter-spacing 0.5s;
  transition: letter-spacing 0.5s;
}

.home-main .services .services-img:hover {
  background-color: rgba(189, 189, 189, 0.2);
}

.home-main .services .services-img:hover p {
  letter-spacing: 3px;
}

.slide-animation {
  -webkit-animation-name: easeshow;
  animation-name: easeshow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes easeshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes easeshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about .about-title, .about2 .about-title {
  color: #e5ac33;
  margin-top: 40px;
  margin-bottom: 25px;
}

.about img, .about2 img {
  width: 90%;
  height: auto;
}

.about img {
    display: block;
    margin: 0 auto;
}

.about .sub-img, .about2 .sub-img {
  width: 85%;
}

.about .about-title2, .about2 .about-title2 {
  margin-top: 0;
  padding-top: 40px;
  border-top: 1px solid lightgrey;
  text-align: left;
}

.about .sub-about:nth-child(3), .about2 .sub-about:nth-child(3) {
  margin-top: 45px;
}

.about .about-3boxes, .about2 .about-3boxes {
  color: #4c4c4c;
}

.about .about-3boxes .about-box, .about2 .about-3boxes .about-box {
  width: 27%;
  text-align: justify;
  font-size: 1vw;
  line-height: 1.1vw;
}

.about .about-3boxes .about-box:first-child, .about2 .about-3boxes .about-box:first-child {
  position: relative;
  left: -40vw;
}

.about .about-3boxes .about-box:last-child, .about2 .about-3boxes .about-box:last-child {
  position: relative;
  left: 40vw;
}

.about .about-3boxes .about-box2, .about2 .about-3boxes .about-box2 {
  width: 40%;
  opacity: 0;
}

.sub-projects {
  margin-top: 45px;
}

.sub-projects p {
    font-size: 1.5rem;
}

.row-reverse:nth-child(odd) {
    flex-direction: row-reverse;
}

.quote-container {
  position: relative;
}

.quote-container .quote {
  font-size: 1.7rem;
  color: #e6b02f;
  text-align: center;
  font-style: italic;
  width: 74%;
  margin: 60px auto 75px auto;
  position: relative;
}

.quote-container .quote span {
  font-size: 2rem;
  color: #c4c4c4;
}

.quote-container .quote .quote-span3 {
  position: absolute;
  bottom: -30px;
  font-size: 1.2rem;
  right: 10%;
  font-style: normal;
  color: #656565;
}

.quote-container .quote-span1 {
  position: absolute;
  top: -8px;
  left: -10%;
}

.quote-container .quote-span2 {
  position: absolute;
  bottom: -8px;
  right: -10%;
}

aside {
  background: url(../img/1_29.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

aside .aside-john {
  background: white;
  width: 28%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: justify;
  margin-left: 15%;
  height: 100%;
  font-size: 0.8rem;
  color: #545454;
}

aside .aside-john .john {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.files-container {
  margin-top: 3vw;
}

.files-container .files-title {
  color: #e5ac33;
  text-align: left;
  margin-bottom: 2.5vw;
    margin-top: 10px;
}

.files-container .files-row {
  font-size: 0.8rem;
}

.files-container .files-row .pdf {
  color: #e5ac33;
  font-size: 2rem;
  margin-right: 10px;
}

.files-container .files-row .files-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.contact .contact-title {
  color: #e5ac33;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 40px;
  border-top: 1px solid lightgrey;
}

.contact span {
  font-weight: 700;
  color: #2e2e2e;
}

.contact .sub-contact {
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.contact .map {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 5px solid #2e5050;
}

.contact textarea {
  width: 100%;
  height: 150px;
  border: none;
  background: #ececec;
  padding-left: 15px;
  padding-top: 15px;
}

.contact .name-row {
  height: 50%;
}

.contact .contact-form {
  border: none;
  width: 100%;
  height: 84%;
  background: #ececec;
  padding-left: 15px;
}

.contact .name-row:nth-child(2) .name-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.contact .radio-info {
  border: 1px solid #e4af34;
}

.contact .radio-info-cont {
  width: 100%;
  font-size: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  height: 20px;
}

.contact .yellow-input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.contact .container {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.contact .yellow::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background: #e4af34;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  display: none;
}

.contact .container input:checked .yellow::after {
  display: block;
}

.contact .yellow {
  border-radius: 50%;
  border: 2px solid #e4af34;
  width: 15px;
  height: 15px;
  position: absolute;
  background: white;
  top: 4px;
  left: 0;
}

.contact .container:hover input ~ .yellow {
  background: #c4c4c4;
}

.contact .container input:checked ~ .yellow::after {
  display: block;
}

.contact .captcha {
  width: 100%;
  height: 50%;
  border: 5px solid #777;
}

.contact .captcha-row {
  height: 100%;
}

.contact .captcha-column, .contact .send-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact .send {
  width: 100%;
  height: 50%;
  background: #e4ae32;
  color: white;
  font-size: 1rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

.contact .send span {
  font-size: 2rem;
  color: white;
}

.offer {
    overflow-wrap: break-word;
    margin-top: 20px;
    transition: color 0.3s;
}

.offer a {
    text-decoration: none;
}

.offer a:hover {
    color: #e5ac33;
}

.offers-container .offers-title {
  color: #e5ac33;
  margin-bottom: 25px;
  text-align: left;
  margin-top: 0;
  padding-top: 40px;
  border-top: 1px solid lightgrey;
}

.offers-container .offer p:nth-child(1) {
  font-size: 1.5rem;
  color: #525252;
  transition: color 0.3s;
}

.offers-container .offer p:nth-child(2) {
  font-size: 0.9rem;
  color: grey;
}

.offers-container .offer p:nth-child(1):hover {
  color: #e5ac33;
}

.offers-container .offer-row {
  margin-bottom: 20px;
}

.projects {
  background-color: #e4ae32;
  margin-top: 65px;
  padding-top: 30px;
}

.projects h1 {
  color: #f1f1f1;
  margin-top: 0;
  margin-bottom: 35px;
  letter-spacing: 1px;
  font-size: 1.7rem;
}

.projects .projects-boxes {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.projects .projects-boxes .projects-box {
  width: 30%;
  margin-bottom: 35px;
}

.projects .projects-boxes .projects-box img {
  width: 100%;
  height: auto;
}

.projects .projects-boxes .projects-box p:nth-child(2) {
  text-align: center;
  color: #f1f1f1;
  font-size: 1.1rem;
  letter-spacing: 2px;
  margin-top: 15px;
}

.projects .projects-boxes .projects-box a {
  text-align: center;
  margin: 0 auto;
  color: #f1f1f1;
  font-size: 0.8rem;
  letter-spacing: 1px;
  border: 2px solid #f1f1f1;
  width: 45%;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.projects .projects-boxes .projects-box a p {
    margin: 0;
}

.projects .projects-boxes .projects-box a:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #383838;
}

.numbers {
  position: relative;
  margin-top: 30px;
}

.numbers .whiteline {
  width: 100%;
  height: 3vw;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 1000;
}

.numbers h1 {
  color: #e5ac33;
  margin-bottom: 50px;
}

.numbers .circlerow {
  width: 90%;
  margin: auto;
}

.numbers .circles {
  font-size: 2rem;
}

.numbers .circle {
  width: 13vw;
  height: 13vw;
  border: 5px solid #e4ae32;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #e4ae32;
  position: relative;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0 auto;
}

.numbers .circle-text {
  font-size: 0.8rem;
  color: #4e4e4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  text-align: center;
  font-weight: 400;
  width: 80%;
}

.numbers .circle-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.svg-cont {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  top: 0;
  left: 0;
}

.blackcircle {
  fill: rgba(255, 255, 255, 0);
  stroke: #4e4e4e;
  stroke-width: 2;
  stroke-dasharray: 470;
  stroke-dashoffset: 500;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  position: absolute;
}

.animation-circle-name {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}

@-webkit-keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}

footer {
  background-image: url(../img/1_45.jpg);
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  margin-top: 30px;
  height: 190px;
}

footer .contact-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: 7%;
  padding-top: 3%;
}

footer .contact-container .contact-footer {
  color: #f1f1f1;
}

footer .contact-container p {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .contact-container .contact-footer:nth-child(1) p:nth-child(1), footer .contact-container .contact-footer:nth-child(3) p:nth-child(1) {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 2px;
}

footer .contact-container .middle p {
  margin-bottom: 0;
  margin-top: 0;
}

footer .contact-container .sprite1 {
  width: 32px;
  height: 50px;
  background: url(../img/1_37.png) -5px -94px;
  background-repeat: no-repeat;
}

footer .contact-container .sprite2 {
  width: 32px;
  height: 25px;
  background: url(../img/1_37.png) 0px -168px;
  background-repeat: no-repeat;
}

footer .contact-container .sprite3 {
  width: 32px;
  height: 16px;
  background: url(../img/1_37.png) 0px -222px;
  background-repeat: no-repeat;
}

footer .contact-container .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contact-container .sprite1 ~ p {
  margin-bottom: 0;
}

footer .contact-container .middle {
  margin-bottom: 8px;
}

footer .copy {
  font-size: 0.6rem;
  color: #9a9a9a;
  text-align: center;
  margin-top: 45px;
}

@media (min-width: 1500px) {
    html {
        font-size: 22px;
    }
}

@media (max-width: 1100px) {
  nav, .home-main, .about, .about2, .quote-container, aside, .files-container, .contact, .offers-container, .projects, .numbers, footer {
    width: 95vw;
  }
  .links .logo {
    width: 30%;
  }
  .links ul {
    width: 65%;
  }
  .home-main .services {
    margin-top: 30px;
  }
  .home-main .slide-container {
    height: 50vw;
  }
  .links {
    height: 10vh;
  }
  .home-main .services {
    height: 16vw;
  }
  .about .about-3boxes .about-box {
    font-size: 1.2vw;
    line-height: inherit;
  }
  .numbers .circle {
    font-size: 3vw;
    font-weight: 700;
    border-width: 3px;
    width: 15vw;
    height: 15vw;
  }
  .numbers .circle-text {
    font-size: 0.7rem;
  }
  .numbers .circles {
    width: 90vw;
  }
  .blackcircle {
    stroke-width: 1;
  }
  footer .contact-container {
    width: 80%;
  }
  .projects .projects-boxes .projects-box a {
    height: 34px;
    line-height: 30px;
    width: 55%;
  }
  .footer {
    height: 168px;
  }
}

@media (max-width: 768px) {
  footer .contact-container {
    width: 90%;
  }
}

@media (max-width: 575px) {
  nav, .home-main, .about, .about2, .quote-container, aside, .files-container, .contact, .offers-container, .projects, .numbers, footer {
    width: 100vw;
  }
  .links {
    padding-right: 0;
    height: 20vw;
  }
  #menu-menu-1 {
    display: none;
  }
  .links .logo {
    width: 80%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
    color: #555;
    position: absolute;
    top: 15px;
    right: 25px;
  }
  .numbers .circle {
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    font-size: 7vw;
  }
  .numbers h1 {
    margin-bottom: 20px;
  }
  .circle-col {
    margin-top: 30px;
    padding: 0;
  }
  .numbers .circles {
    width: 100vw;
  }
  .whiteline {
    display: none;
  }
  .about-box, .about-box2 {
    margin: 0 auto;
  }
  .about-box:first-child {
    margin-bottom: 20px;
  }
  .about-box:last-child {
    margin-top: 20px;
  }
  .about .about-3boxes .about-box {
    font-size: 0.9rem;
  }
  .home-main .services {
    height: auto;
    width: 100%;
    display: block;
  }
  .home-main .services .services-img {
    width: 100%;
    height: 50px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding-left: 8%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border-bottom: 1px solid #afafaf33;
  }
  .home-main .services .services-img img {
    width: 10%;
    margin-right: 7%;
    height: auto;
  }
  .home-main .services .services-img p {
    margin-top: 0;
    margin-bottom: 0;
    color: #3e3e3e;
  }
  .home-main .slide-container {
    height: 90vh;
  }
  .projects .projects-boxes .projects-box p:nth-child(3) {
    height: 40px;
    line-height: 34px;
    width: 50%;
  }
  footer {
    height: 315px;
  }
  footer .contact-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 30px;
  }
  footer .contact-container .contact-footer {
    width: 100%;
  }
  footer .contact-container .middle {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  footer .contact-container .contact-footer:nth-child(3) p:nth-child(1) {
    margin-bottom: 10px;
  }
  footer .copy {
    margin-top: 25px;
  }
  .home-main .services {
    margin: 0 auto;
    width: 90%;
    margin-top: 10px;
  }
  .home-main .services .services-img {
    border-radius: 23px;
    margin-bottom: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    border: 1px solid #5a5a5a;
  }
  .home-main .services {
    background: white;
  }
  .numbers .circle-text {
    font-size: 0.8rem;
  }
  .files-container .files-title {
    text-align: center;
  }
  .files-container {
    padding-left: 5%;
  }
  .sub-about div:first-child {
    margin-bottom: 25px;
  }
  .quote-container .quote {
    width: 80%;
    font-size: 1.1rem;
  }
  .quote-container .quote span {
    font-size: 1rem;
  }
  aside .aside-john {
    width: 52%;
  }
  .contact .map {
    height: 200px;
    margin-top: 20px;
  }
  .contact .contact-form {
    height: 53px;
    margin-top: 15px;
  }
  .contact .captcha {
    height: 75px;
    margin-top: 10px;
  }
  .contact .send {
    height: 75px;
    margin-top: 20px;
  }
  .about2 .sub-img {
    width: 100%;
  }
}

@media (max-width: 1025px) and (orientation: landscape) {
  .home-main .slide-container {
    height: 50vh;
  }
}
